/* Opcional: quitar bordes de nav bar en estados activos */
.btn-sin:focus,
.btn-con:active {
    outline: none !important;
    box-shadow: none !important;
}


/* barra de navegacion */
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important; /* Opcional: también quita el resplandor del focus */
}


@media (max-width: 991.98px) { /* Para pantallas pequeñas (hasta el breakpoint 'lg' de Bootstrap) */
  .navbar-collapse.show .navbar-nav {
    text-align: center; /* Centra el texto de los enlaces */
  }
}

